    body{
      padding-left: 40%;
    }
    img{
      width: 200px;
      height: 200px;
      border-radius: 16px;
    }
    .container {
      position: relative;
      width: 200px;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .5s ease;
      border-radius: 16px;
      background-color: rgba(4,5,6,0.7);
    }
    .container:hover .overlay {
      opacity: 1;
    }
    /*text on hover*/
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }